<p>Powered By
<%= image_tag("rails-logo.svg", size: "64x20",
alt: "Ruby on Rails", align: "top") %></p>

<p>Powered By
<%= link_to(image_tag("rails-logo.svg", size: "64x20",
alt: "Ruby on Rails", align: "top"),
"http://rubyonrails.org/") %></p>
